@font-face {
    font-family: 'SofiaPro';
    src: url('/fonts/Sofia-Pro-UltraLight-Az.otf') format('opentype');
    font-weight: 100;
}

@font-face {
    font-family: 'SofiaPro';
    src: url('/fonts/Sofia-Pro-ExtraLight-Az.otf') format('opentype');
    font-weight: 200;
}

@font-face {
    font-family: 'SofiaPro';
    src: url('/fonts/Sofia-Pro-Light-Az.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'SofiaPro';
    src: url('/fonts/Sofia-Pro-Regular-Az.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'SofiaPro';
    src: url('/fonts/Sofia-Pro-Medium-Az.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'SofiaPro';
    src: url('/fonts/Sofia-Pro-Semi-Bold-Az.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'SofiaPro';
    src: url('/fonts/Sofia-Pro-Bold-Az.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'SofiaPro';
    src: url('/fonts/Sofia-Pro-Black-Az.otf') format('opentype');
    font-weight: 900;
}